body {
	background-color: #000000;
}

.hidden {
	display: none;
}

area:focus {
	outline: none;
}

area {
	cursor: pointer;
} 

.bracket {
	width: 1280px;
	margin: 0 auto;
}

.bracket img {
	width: 1280px;
}

#basic-lightbox {
  position: fixed;
  text-align: center;
  top: 10%;
  left: 50%;
  margin-left: -275px;
  z-index: 1000;
  width: 550px;
  color: #fff;
}

#basic-lightbox.final-round {
  height: 500px;
  overflow-y: scroll;
}

.light-border {
	border: 10px solid white;
}

.pop-content {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px 25px 10px 33px;
  text-align: left;
  line-height: 125%;
  text-align: justify;
  text-justify: inter-word;
  font-size: 12px;
}

.pop-content h2 {
	text-align: left;
	text-transform: uppercase;
}

#lightbox-overlay {
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,.8); 
    text-align:center;
    cursor: pointer;
    z-index: 900;
}


.close-btn {
  cursor: pointer;
  position: absolute;
  top: -27px;
  right: -27px;
}